body{
  background-color:rosybrown;
  font-family: Arial, sans-serif;

}

.business-card{
  width:300px;
  background-color: lavenderblush;
  border:3px solid darkslategray;
  padding:20px;
  margin-top:100px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  font-size:16px;  
}

.profile-image{
  max-width: 100%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border: 2px solid lightgrey;
}

.full-name{
  font-size: 24px;
  color: darkslategray;
}

.designation{
  font-size: 18px;
  color: grey;
}

.company{
  font-size: 16px;
  color: darkgrey;
}

p{  margin: 5px 0;}

a{  text-decoration: none;}

.social-media{
  margin-top:10px;
  font-size: 14px;
}

.social-media a{
  margin:10px;
  color: maroon;
}
.social-media a:hover{
  color: black;
}

hr{
  margin:20px 0;
}
