body{
    margin: 10% 15% 0;
    font-family: Arial;
}

h1{
  text-align: center;
  font-family: sans-serif;
}

.todo-list{
  list-style-type: none;
  margin: 20px;
}

.todo-list li {
    margin-bottom: 15px;
    line-height: 1.6;
    padding: 10px;
    background-color: #e5f1e5;
    border-radius: 10px;
}

.sub-item{
  list-style-type: square;
  list-style-position: inside;
}

.sub-item-link{text-decoration: none;}

.sub-item-link:link{
    text-decoration: none;
    color: blue;
}

.sub-item-link:hover{   color:red;}

.sub-item-link:active{  color:black;}

.sub-item-link:focus{  outline: yellow;}

.sub-item-link:visited{  color: purple;}
